{% extends "base.html" %}
{% block content %}

<div class="container">
  <h1 class="title">Welcome, {{name}} !</h1>
  <div class="row">
    <div class="col-sm-4">
      <div class="card" style="width: 18rem; margin-top: 3rem;">
        <img class="card-img-top" src="{{ url_for('static', filename='image/project_mortgageCalculator.jpg')}}" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Mortgage Calculator</h5>
          <p class="card-text">Calculate Mortgage payment with Amortization Table</p>

        </div>
        <a href="/mortgage_calculator" class="card-button">Go to Project</a>
      </div>
    </div>
    <div class="col-sm-4">

    </div>
  </div>






  <!--<a href="#">Download Your File</a>-->
</div>
{% endblock %}